/** @format */

html {
	scroll-behavior: smooth;
}

/* header here */
#banner {
	background-image: url(./img/coding.jpg);
	height: 70vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
}

header{
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.index-1 {
	z-index: 1;
}
.index-2 {
	z-index: 2 !important;
}
.index--1 {
	z-index: -1;
}

.banner-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.about-ratan {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: underline;
	}
}

/* knowladge here */
table td,
th {
	padding: 10px;
	font-size: 20px !important;
}
table td {
	padding: 10px;
	font-size: 20px !important;
	/* color: #0e0ae3 !important; */
	color: green !important;
}

.scale-02 {
	font-size: 20px;
	padding: 10px 20px !important;
	font-weight: bolder;
	margin: auto 5px;
	border-radius: 30px 10px !important;
	transition: all 0.5s;
	&:hover {
		background-color: greenyellow;
		color: darkblue !important;
		border-radius: 10px 30px;
		border-radius: 10px 30px !important;
	}
}
.scale-01 {
	font-size: 20px;
	padding: 10px 20px !important;
	font-weight: bolder;
	margin: auto 5px;
	border-radius: 10px 30px !important;
	transition: all 0.5s;
	&:hover {
		background-color: greenyellow;
		color: darkblue !important;
		border-radius: 30px 10px !important;
	}
}

.style-icon {
	background-color: #0dcaf0;
	padding: 15px;
	text-align: center;
}
hr {
	margin: 0 auto !important;
	color: black !important;
	background-color: white !important;
	border: 0 !important;
	opacity: 1 !important;
	border: 5px dotted black !important;
	border-bottom: none !important;
	width: 50px !important;
}
hr:not([size]) {
	height: 0 !important;
}

.text-shadow-5 {
	background-color: #ffffff75;
	border-radius: 50px;
	color: black !important;
	padding: 15px 30px;
	text-shadow: 0 0 5px rgb(255, 255, 255);
	font-weight: bolder;
}

/* Featers here */
#featers {
	background-color: rgb(219, 214, 214) !important;
	padding: 30px 10px;
	margin: 30px 0;
	border-radius: 5px;
	.card-section {
		border: 2px solid rgb(235, 66, 165);
		border-radius: 8px;
		padding: 20px;
		margin: 10px 0;
		transition: all 0.4s;
		&:hover {
			transform: scale(1.08);
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.584);
			background-color: #12cce9;
			& p {
				font-weight: bolder;
			}
		}
	}
}

/* Contact css starts here */
input[type='text'],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type='submit'] {
	background-color: #04aa6d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #45a049;
}

.container-contact {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.phone-btn {
	background-color: greenyellow;
	border: 1px solid yellowgreen;
	border-radius: 30px 10px !important;
	padding: 0 10px;
	transition: all 0.4s;
	& a {
		color: darkblue !important;
	}
	&:hover {
		border-radius: 10px 30px !important;
	}
}

#hover {
	transition: all 0.4s !important;
	&:hover {
		transition: all 0.4s !important;
		transform: scale(1.05) !important;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
	}
}
/* Contact css ends here */

/* media icon here */
#face:hover {
	transition: all 0.4s;
	transform: scale(2);
	color: #0866ff;
}
#ins:hover {
	transition: all 0.4s;
	transform: scale(2);
	color: #ec4842;
}
#phone:hover {
	transition: all 0.4s;
	transform: scale(2);
	color: #47b36c;
}
#git:hover {
	transition: all 0.4s;
	transform: scale(2);
	color: black;
}
#tw:hover {
	transition: all 0.4s;
	transform: scale(2);
	color: #1da1f2;
}
#linkdin:hover {
	transition: all 0.4s;
	transform: scale(2);
	color: #0077b0;
}
#footer{
	background-image: url(./img/footer.jpg);
	background-position: center;
	background-repeat: no-repeat ;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding: 0 10%;

}
.hovered{
	transition: all .4s;
	font-size: 20px;
	&:hover{
		/* transform: scale(1.6); */
		color: white !important;
		opacity: 1 !important;
	}
}



/* responsive section */
@media screen and (max-width: 768px) {
	body,html{
		padding: 0 !important;
	}
	#home{
		width: 100% !important;
		margin:  0 auto !important;
	}

	#footer {
		width: 90%;
		margin: auto;
		justify-content: center;
	}
	#newsletter1 {
		width: 400px !important;
	}
	.img-down {
		margin: auto !important;
	}
	ul {
		margin-top: 15px;
	}
	.list-style {
		margin-bottom: 3px;
		border-radius: 5px;
		transition: all 0.3s;
		background-color: rgba(255, 255, 255, 0.584);
		& a {
			color: black !important;
			padding-left: 10px !important;
			font-weight: bold;
			text-shadow: 2px 2px 2px 20px black;
			transition: all 0.3s;
		}
		&:hover {
			background-color: rgba(4, 4, 112, 0.712);
			& a {
				color: white !important;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.img-down {
		margin: auto !important;
	}
}
@media screen and (min-width: 769px) {
	.font-styles {
		font-size: 20px;
		padding: 10px 20px !important;
		font-weight: bolder;
		margin: auto 5px;
		border-radius: 30px 10px !important;
		transition: all 0.5s;
		&:hover {
			background-color: greenyellow;
			color: darkblue !important;
			border-radius: 10px 30px;
			border-radius: 10px 30px !important;
		}
	}
}
